body {
    margin: 0px;
    padding: 0px;
    background-color: #F5F1E3;
    font-family: 'Josefin Slab', serif;
    font-size: 1.2rem;
    /*
    Palette #1
    #02010A Rich Black
    #04052E Rich Blue
    #140152 Middle Red Purple
    #22007C Persian Indigo
    #0D00A4 Duke Blue

    Palete #1
    #050505 Rich Black
    #1B9AAA Light Sea Green
    #DDDBCB Bone
    #F5F1E3 Alabaster
    #FFFFFF White
    */
}

.portfolio-wrapper {
    display: flex;
    margin: 0px auto;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20px;
}

.portfolio-top-nav-div {
    display: flex;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid #050505 3px;
    margin: 0px auto;
    align-items: center;
    width: 100%;
    color: #FFFFFF;
    background-color: #1B9AAA;
    justify-content: space-around;
    z-index: 1;
    position: sticky;
}

.top-nav-link {
    padding: 5px;
}

.top-nav-link:hover {
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: solid #050505 3px;
    margin-bottom: -3px;
}

.contact-body-container {
    display: flex;
    padding: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;
    border-bottom: solid #050505 3px;
    width: 85%;
    min-height: 230px;
    max-width: 350px;
    background-color: #FFFFFF;
}

.contact-body-container h1 {
    font-size: 1em;
    text-align: center;
}

.landing-body-container img {
    border-radius: 15px;
    min-width: 300px;
}

.landing-body-container p {
    text-align: center;
}

.project-container {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 5px;
}

.project-container h1, h4 {
    text-align: center;
}

.projects-body-container h3 {
    text-align: center;
}

.projects-body-container a, .project-container a {
    text-decoration: none;
    color: #1B9AAA;
}

.projects-body-container a:hover, .project-container a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.landing-body-container, .projects-body-container {
    background-color: #FFFFFF;
    border-bottom: solid #050505 3px;
    border-radius: 15px;
}

.landing-body-div {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.experience-body-container {
    margin-top: 8px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-width: 600px !important;
}

.experience-type-options {
    display: flex;
    font-weight: bold;
    justify-content: space-around;
}

.experience-currently-loaded {
    text-decoration: underline;
}

#experience-type:hover {
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
}

.landing-body-container, .projects-body-container, .experience-body-container {
    display: flex;
    padding: 10px;
    text-align: left;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    width: 85%;
    min-height: 230px;
}

.landing-body-container, .projects-body-container {
    margin-top: 20px;
    max-width: 1060px;
}

.experience-items-ul {
    list-style-type: circle;
}

.landing-body-bio {
    padding: 20px;
}

.landing-body-bio li, .experience-body-container li {
    list-style-type: circle;
    padding: 5px;
}

.landing-body-bio h1 {
    text-align: center;
}

.emphasis {
    font-style: italic;
    font-weight: bolder;
}

.values {
    color: #1B9AAA;
    font-weight: bolder;
}

.social-media-icon {
    height: 25px;
    width: 25px;
}

.social-media-icon:hover {
    cursor: pointer;
}

.social-media-footer {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.social-media-footer img {
    margin-left: 10px;
}

.contact-form-separator {
    margin: 0 auto;
    padding: 10px;
}

@media only screen and (max-width: 915px) {
    .landing-body-div {
        flex-direction: column !important;
        margin: 0 auto !important;
        padding-bottom: 0px;
    }
    .landing-body-bio {
        margin-top: 25px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}